<!DOCTYPE html>
<html>

<head>
    <title>404</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="main-content">
        {{> header }}
        <h1>404 Page</h1>
        {{errorMessage}}
    </div>
    {{> footer}}
</body>


</html>