<!DOCTYPE html>
<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="main-content">
        {{> header }}
        <h1>About</h1>
        <img src="/img/rajashekhar.jpg" />
        {{created}}
    </div>
    {{> footer}}
</body>

</html>